main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formulario{
    width: 450px;
    height: 300px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: rgba(177,11,31,1);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.formulario h1{
    margin-top: -30px;
    color: white;
}
.input{
    display: block;
    width: 350px;
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    border: 0;
    outline: none;
    text-align: center;
}
.input::placeholder{
    font-size: 20px;
    text-align: center;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    margin: 10px;
    padding: 0px 30px;
    border: 1px solid gray;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
}
.boton:hover{
    transform: scale(1.1);
    transition: all 350ms;
}