.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario{
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario p{
    font-size: 20px;
    margin: 5px;
}