header img{
    position: absolute;
    left: 10px;
}
header nav{
    position: absolute;
    right: 40px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    height: 7vh;
    width: 300px;
}
.menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.itemPrimario{
    display: flex;
    height: 7vh;
    align-items: center;
    margin-right: 10px;
    padding: 10px 10px;
    transition: all 1s;
}
.itemPrimario:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.itemPrimario a{
    text-decoration: none;
    color: white;
}
.itemPrimario a:hover{
    text-decoration: underline;
}
.submenu{
    position: absolute;
    top: 7vh;
    display: none;
    flex-direction: column;
    background-color: rgba(177,11,31,1);
    width: 140px;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0px 0px 10px 10px;
}
#subAsig{
    position: absolute;
    right: 185px;
}
#subReg{
    position: absolute;
    right: 0px;
}
.itemSecundario{
    display: flex;
    height: 7vh;
    align-items: center;
    padding: 10px 17px;
    transition: all 1s;
}
.itemPrimario:hover > .submenu{
    display: flex;
}
body{
    background-image: url('https://i.ibb.co/zS76SLS/logo-Milenio-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
}